<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon Generateur de QR Code</title>
    <script crossorigin="anonymous" src="https://unpkg.com/@hotwired/turbo@7.0.0-beta.4/dist/turbo.es5-umd.js"></script>
    <script>
        function showForm(value) {
            let tabOfFragments = ['textRequestForm','urlRequestForm','vcardRequestForm','appRequestForm'];
            const inputFields = new Map();
            inputFields.set('textRequestForm', ['textRequestInput'])
            inputFields.set('urlRequestForm', ['urlRequestInput'])
            inputFields.set('vcardRequestForm', ['vcardRequestNom','vcardRequestPrenom', 'vcardRequestTelephone '])
            inputFields.set('appRequestForm', ['appRequestInput'])

            for (let tabOfFragment of tabOfFragments) {
                document.getElementById(tabOfFragment).style.display = "none";
            }
            document.getElementById(value).style.display = "block";
            for (const [key, values] of inputFields.entries()) {
                for (let v of values){
                    document.getElementById(v).required = false;
                }
            }
            for(let v of inputFields.get(value)){
                document.getElementById(v).required = true;
            }
        }
    </script>
</head>
<body>
<div th:style="'width:100%'">

    <div th:id="request" th:style="'width:70%;float:left'">
        <form action="#" th:action="@{/generateQrCode}" th:object="${qrCodeRequest}" th:method="get"
              data-turbo-frame="qr_code_response_frame" >
            <input type="radio" th:text="Text" th:field="*{type}"
                   th:value="${T(com.rim.qrcodegenerator.qrcode.models.RequestType).TEXT}"
                   th:checked="true" th:onclick="showForm('textRequestForm')"/>
            <input type="radio" th:text="URL" th:field="*{type}"
                   th:value="${T(com.rim.qrcodegenerator.qrcode.models.RequestType).URL}"
                   th:checked="false" th:onclick="showForm('urlRequestForm')"/>
            <input type="radio" th:text="Vcard" th:field="*{type}"
                   th:value="${T(com.rim.qrcodegenerator.qrcode.models.RequestType).VCARD}"
                   th:checked="false" th:onclick="showForm('vcardRequestForm')"/>
            <input type="radio" th:text="App" th:field="*{type}"
                   th:value="${T(com.rim.qrcodegenerator.qrcode.models.RequestType).APP}"
                   th:checked="false" th:onclick="showForm('appRequestForm')"/>
            <br/> <br/>
            <div th:id="textRequestForm">
                <div th:replace="fragments/textRequest :: textRequestFragment(${qrCodeRequest.textQrCodeRequest})"></div>
            </div>
            <div th:id="urlRequestForm" th:style="'display:none'">
                <div th:replace="fragments/urlRequest :: urlRequestFragment(${qrCodeRequest.textQrCodeRequest})"></div>
            </div>
            <div th:id="vcardRequestForm" th:style="'display:none'">
                <div th:replace="fragments/vcardRequest :: vcardRequestFragment(${qrCodeRequest.vcardQrCodeRequest})"></div>
            </div>
            <div th:id="appRequestForm" th:style="'display:none'">
                <div th:replace="fragments/appRequest :: appRequestFragment(${qrCodeRequest.appQrCodeRequest})"></div>
            </div>
            <br/> <br/>
            <input th:type="submit" th:value="Submit"/>
        </form>
    </div>
    <br/>
    <br/>
    <div th:id="response" th:style="'width:30%;float:right'">
        <turbo-frame id="qr_code_response_frame">
            <!-- la qrcode apparaitra ici -->
        </turbo-frame>
    </div>
</div>

</body>
</html>